.noto100{
    font-family: 'noto100';
}
.noto200{
    font-family: 'noto200';
}
.noto300{
    font-family: 'noto300';
}
.noto400{
    font-family: 'noto400';
}
.noto500{
    font-family: 'noto500';
}
.noto600{
    font-family: 'noto600';
}
.noto700{
    font-family: 'noto700';
}
.noto800{
    font-family: 'noto800';
}
.noto900{
    font-family: 'noto900';
}